# vim files
*.swp

# hydra outputs
*outputs

# general purpose folders
*data/
*models/

# Nextcloud files
.sync*
.owncloudsync.log

# Latex aux files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bbl
*.blg

# py files
*.idea
*__pycache__
*.ipynb_checkpoints

# mac files
*.DS_Store
