# vim files
*.swp

# hydra outputs
*outputs

# general purpose folders
*data/
*models/
playground/

# Nextcloud files
.sync*
.owncloudsync.log

# Latex aux files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
